<h1>Create New Heroine Form!</h1>
<% if @heroine.errors.any? %>
 <div id="error_explanation">
   <h2>There were some errors:</h2>
   <ul>
     <% @heroine.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     <% end %>
   </ul>
 </div>




<%= form_for @heroine do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br/>

    <%= f.label :super_name %>
    <%= f.text_field :super_name %><br/>
    
    <%= f.label :select_power %>
    <%= f.collection_select :power_id , Power.all , :id, :name %><br/>

    <%= f.submit %>

<% end %>